/* Animation zoomIn */
@keyframes zoomIn{
  0%{
     transform: scale(0);
     opacity: 0;
  }
  100%{
    transform: scale(1);
     opacity: 1;
  }
}

.App {
  text-align: center;
}
.formDiv{
  width:50%;
  margin: auto;
  box-shadow: 0 0 10px black;
  padding: 25px 15px;
  border-radius: 10px;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s, 2s;
}
.formDiv input{
  margin: 10px auto;
  width: 70%;
  /* margin: auto; */
}

.formDiv select{
  width: 70%;
  margin:10px auto;
}
.formDiv h1{
  color:blue;
}

.TableDiv{
  width: 70%;
  margin:80px auto;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s, 2s;
}

.UserDetails h3{
  margin:15px
}

.SortDiv{
  width:100%;
  
}
.TableDiv tr:hover{
  box-shadow:0 0 10px blue;
  padding: 5px 10px;
  border-radius:10px;
  color:rgb(0, 13, 255);
  transition: 800ms linear; 
  transform: scale(1.02);
}

form>input:last-child:hover{
background-color: orange;
transition: 800ms linear; 
transform: scale(1.02);
}